@page
@using AicaDocsUI.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AicaDocsUI.Pages.Reports.Downloads.Details

@{
    ViewData["Title"] = @Localizer["dd"];
    var description = Model.DownloadDto.Format.GetDescription();
    var date = Model.DownloadDto.DateOfDownload.ToString("dd/MM/yyyy hh:mm:ss tt");
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-5 mx-auto rounded border p-3">
            <h2 class="text-center">@Localizer["dd"]</h2>
            <hr/>

            <div class="table-responsive">
                <table class="table table-borderless table-hover">
                    <tbody>
                        <tr>
                            <th scope="row">@Html.Raw(@Localizer["f"].Value)</th>
                            <td>@Html.Raw(description)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.Raw(@Localizer["fecha"].Value)</th>
                            <td>@Html.Raw(date)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.Raw(@Localizer["u"].Value)</th>
                            <td>@Html.DisplayFor(model => model.DownloadDto.UserEmail)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.Raw(@Localizer["d"].Value)</th>
                            <td>@Html.DisplayFor(model => model.CodeEdition)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.Raw(@Localizer["rd"].Value)</th>
                            <td>@Html.DisplayFor(model => model.Reason)</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-start col">
                <a class="btn btn-outline-primary ms-auto w-25 w-sm-50" asp-page="./Index">@Localizer["back"]</a>
            </div>
        </div>
    </div>
</div>