@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AicaDocsUI.Pages.Account.ForgotPassword

@{
    ViewData["Title"] = @Localizer["olvidoCont"];
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-4 mx-auto rounded border p-3">
            <section>
                <h2 class="text-center mb-3">@Localizer["olvidoCont"]</h2>
                <hr/>
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label fw-bold">@Localizer["correo"]</label>
                        <input asp-for="ForgotPasswordModel.Email" class="form-control" placeholder=@Localizer["ingreseCorreo"]/>
                        <span asp-validation-for="ForgotPasswordModel.Email" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <div class="col d-grid">
                            <a class="btn btn-outline-primary" href="/" role="button">@Localizer["cancelar"]</a>
                        </div>
                        <div class="col d-grid">
                            <button type="submit" class="btn btn-primary">@Localizer["aceptar"]</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>


@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}