@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using AicaDocsUI.Extensions
@using AicaDocsUI.Pages.Reports
@model AicaDocsUI.Pages.Reports.Documents.Index

@{
    ViewData["Title"] = @Localizer["d"];
    var currentUrl = HttpContext.Request.Path;
    var previousPag = Model.PageNumber - 1;
    var nextPag = Model.PageNumber + 1;
    if (previousPag == 0)
        previousPag = Model.PageNumber;
    if (nextPag > Model.PageTotal)
        nextPag = Model.PageNumber;
    bool showCreated = Model.ShowCreated;
    bool showEdited = Model.ShowDownload;
    string downloadUrl = Model.DownloadUrl;
}

<h2 class="card-text md-5">@Localizer["ld"]</h2>

<h4 class="card-text md-3">@Localizer["cb"]</h4>

<form>
    <div class="row mb-4">
        <div class="col-md mb-1">
            <div class="form-floating">
                <select id="floatingSelectFormat" class=" form-select me-2" asp-for="ProcessId" asp-items="Model.ListProcessId">
                    <option selected>@Localizer["sp"]</option>
                </select>
                <label for="floatingSelectFormat">@Localizer["pd"]</label>
            </div>
        </div>
        <div class="col-md mb-1">
            <div class="form-floating">
                <select id="floatingSelectFormat1" class=" form-select me-2" asp-for="TypeId" asp-items="Model.ListTypeId">
                    <option selected>@Localizer["st"]</option>
                </select>
                <label for="floatingSelectFormat1">@Localizer["td"]</label>
            </div>
        </div>
        <div class="col-md mb-1">
            <div class="form-floating">
                <select id="floatingSelectFormat2" class=" form-select me-2" asp-for="ScopeId" asp-items="Model.ListScopeId">
                    <option selected>@Localizer["sa"]</option>
                </select>
                <label for="floatingSelectFormat2">@Localizer["ad"]</label>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md mb-1">
            <div class="form-floating">
                <input id="floatingSelectDDownload" type="datetime-local" class=" form-control me-2" asp-for="DateOfValidity"/>
                <label for="floatingSelectDDownload">@Localizer["f"]</label>
            </div>
        </div>
        <div class="col-md mb-1">
            <div class="form-floating">
                <select id="floatingSelectDComp" class=" form-select me-2" asp-for="DateComparator" asp-items="Model.ListDateComparator">
                    <option selected>@Localizer["scf"]</option>
                </select>
                <label for="floatingSelectDComp">@Localizer["cf"]</label>
            </div>
        </div>
        <div class="col-md mb-1">
            <div class="form-floating">
                <input id="floatingSelectDocument" type="number" class="form-control me-2" asp-for="Pages"/>
                <label for="floatingSelectDocument">@Localizer["p"]</label>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md mb-1">
            <div class="form-floating">
                <input id="floatingSelectUsername2" type="text" class="form-control me-2" asp-for="Title"/>
                <label for="floatingSelectUsername2">@Localizer["t"]</label>
            </div>
        </div>
        <div class="col-md mb-1">
            <div class="form-floating">
                <input id="floatingSelectUsername3" type="text" class="form-control me-2" asp-for="Code"/>
                <label for="floatingSelectUsername3">@Localizer["c"]</label>
            </div>
        </div>
        <div class="col-md mb-1">
            <div class="form-floating">
                <input id="floatingSelectDocument4" type="number" class="form-control me-2" asp-for="Edition"/>
                <label for="floatingSelectDocument4">@Localizer["e"]</label>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md text-start">
            <a href="/Reports/Documents/DocumentsReport" class="btn btn-secondary text-start">
                <i class="fas fa-file-pdf"> @Localizer["expo"]</i>
            </a>
        </div>
        <div class="col-md text-end">
            <button type="reset" class="btn btn-outline-warning text-end">
                <i class="fas fa-recycle"> @Localizer["reset"]</i>
            </button>
            <button type="submit" class="btn btn-outline-primary">
                <i class="fas fa-search"> @Localizer["search"]</i>
            </button>
        </div>
    </div>
</form>


<table class="table table-hover">
    <thead>
    <tr>
        <th>@Localizer["t"]</th>
        <th>@Localizer["c"]</th>
        <th>@Localizer["e"]</th>
        <th>@Localizer["f"]</th>
        <th>@Localizer["a"]</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Documents)
    {
        var date = item.DateOfValidity.ToString("dd/MM/yyyy hh:mm:ss tt");
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => date)
            </td>


            <td class="white-space:nowrap">
                <a class="btn btn-outline-info btn-sm" asp-page="./Details" asp-route-id="@item.Id" data-toggle="tooltip" title="@Localizer["det"]">
                    <i class="fas fa-book"></i>
                </a>
                <a class="btn btn-outline-success btn-sm" asp-page="./Download" asp-route-id="@item.Id" data-toggle="tooltip" title="@Localizer["des"]">
                    <i class="fas fa-download"></i>
                </a>
            </td>
        </tr>
    }

    </tbody>


</table>
<nav>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="@(currentUrl)?PageNumber=@(previousPag)&Code=@Model.Code&DateOfValidity=@Model.DateOfValidity?.ToString("O")&Title=@Model.Title&Edition=@Model.Edition&Pages=@Model.Pages&TypeId=@Model.TypeId&ProcessId=@Model.ProcessId&ScopeId=@Model.ScopeId&SortBy=@Model.SortBy&SortOrder=@Model.SortOrder&DateComparator=@Model.DateComparator" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.PageTotal; i++)
        {
            string activeClass = "";
            if (i == Model.PageNumber) activeClass = "active";
            <li class="page-item @activeClass" aria-current="@(i == Model.PageNumber ? "page" : "false")">
                <a class="page-link" href="@(currentUrl)?PageNumber=@(i)&Code=@Model.Code&DateOfValidity=@Model.DateOfValidity?.ToString("O")&Title=@Model.Title&Edition=@Model.Edition&Pages=@Model.Pages&TypeId=@Model.TypeId&ProcessId=@Model.ProcessId&ScopeId=@Model.ScopeId&SortBy=@Model.SortBy&SortOrder=@Model.SortOrder&DateComparator=@Model.DateComparator">@i</a>
            </li>
        }
        <li class="page-item">
            <a class="page-link" href="@(currentUrl)?PageNumber=@(nextPag)&Code=@Model.Code&DateOfValidity=@Model.DateOfValidity?.ToString("O")&Title=@Model.Title&Edition=@Model.Edition&Pages=@Model.Pages&TypeId=@Model.TypeId&ProcessId=@Model.ProcessId&ScopeId=@Model.ScopeId&SortBy=@Model.SortBy&SortOrder=@Model.SortOrder&DateComparator=@Model.DateComparator" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>

</nav>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index:  9999;">
    <!-- Primer toast -->
    <div id="liveToast1" class="toast bg-success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success">
            <strong class="me-auto text-light">@Localizer["t1"]</strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

    <!-- Segundo toast -->
    <div id="liveToast2" class="toast bg-success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success">
            <strong class="me-auto text-light">@Localizer["t2"]</strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<script>
    let shouldShowCreated = @(showCreated.ToString().ToLower());
    let shouldShowEdited = @(showEdited.ToString().ToLower());
    
    window.onload = (event) => {
        let liveToast1 = document.getElementById('liveToast1');
        let liveToast2 = document.getElementById('liveToast2');

        let toastInstance1 = new bootstrap.Toast(liveToast1);
        let toastInstance2 = new bootstrap.Toast(liveToast2);

        if (shouldShowCreated)
            toastInstance1.show();
        if (shouldShowEdited)
            toastInstance2.show();
    };
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var downloadUrl = '@downloadUrl';
        console.log(downloadUrl);
        if (downloadUrl.length !== 0) {
            window.location.href = downloadUrl;
        }
    });
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var urlParams = new URLSearchParams(window.location.search);
    var downloadUrl = urlParams.get('downloadUrl');
    var fileName = urlParams.get('fileName');
    if (downloadUrl) {
        fetch(downloadUrl)
            .then(response => response.blob())
            .then(blob => {
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = fileName || 'descarga.pdf'; 
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                document.body.removeChild(a);
            })
            .catch(error => {
                console.error("Error al descargar el archivo PDF: ", error);
            });
    }
});
</script>