@page
@model ErrorModel
@{
    var statusCode = Model.Code;

    ViewData["Title"] = statusCode switch
    {
        404 => @Localizer["404"],
        403 => @Localizer["403"],
        400 => @Localizer["400"],
        _ => "Error"
    };
}

<div class="d-flex align-items-center justify-content-center vh-100 mt-5">
    <div class="text-center">
        <h1 class="display-4 text-danger fw-bold">@ViewData["Title"]</h1>
        <p class="lead text-danger fw-bold">
            @(statusCode switch
            {
                404 => @Localizer["m404"],
                403 => @Localizer["m403"],
                400 => @Localizer["m400"],
                _ => @Localizer["mError"]
            })
        </p>
        <a asp-page="/Index" class="btn btn-secondary">@Localizer["irInicio"]</a>
    </div>
</div>