@page
@using AicaDocsUI.Repositories.ApiData.Dto.IdentityCommons
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
    bool showForgotPassword = Model.ShowForgotPassword;
    bool showError = Model.ShowError;
    var btn1Txt = !Model.IsLogin ? "Iniciar Sesión" : Model.UserRole == UserRole.Admin ? "Usuarios" : "Documentos";
    var btn2Txt = !Model.IsLogin ? "" : Model.UserRole == UserRole.Admin ? "Descargas" : "";
    var href1 = !Model.IsLogin ? @"/Account/Login" : Model.UserRole == UserRole.Admin ? @"/Users" : @"/Documents";
    var href2 = !Model.IsLogin ? @"" : Model.UserRole == UserRole.Admin ? @"/Reports/Downloads" : @"";
}

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-12 col-md-8 col-lg-7 p-3 p-lg-5 pt-lg-3">
            <div class="lc-block mb-3">
                <div editable="rich">
                    <h2 class="fw-bold display-4">
                        AicaDocs UI&nbsp;
                        <p></p>
                        <p></p>
                    </h2>
                </div>
            </div>

            <div class="lc-block mb-3">
                <div editable="rich">
                    <p class="lead">
                        @if (Model.IsLogin && Model.FullName is not null)
                        {
                            @:Bienvenido/a de nuevo, <strong>@Model.FullName</strong>
                        }
                        else
                        {
                            @:Aplicación Web de gestión de documentación <em>AicaDocs</em> en el entorno de <strong>Aica+</strong>
                        }
                        
                    </p>
                </div>
            </div>

            <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary px-4 me-md-2" href="@href1" role="button">@btn1Txt</a>
                @if (Model.UserRole == UserRole.Admin)
                {
                    <a class="btn btn-outline-primary px-4 me-md-2" href="@href2" role="button">@btn2Txt</a>
                }
            </div>
        </div>
        <div class="col-12 col-md-4 offset-md-0 col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <div class="lc-block">
                <img class="rounded-3 w-100 " src="/Images/1.jpg" alt="Aica+" width="700">
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index:  9999;">
    <!-- Primer toast -->
    <div id="liveToast1" class="toast bg-success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success">
            <strong class="me-auto text-light">Operación completada con éxito. Revise su correo para cambiar su contraseña actual.</strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <!-- Segundo toast -->
        <div id="liveToast2" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-danger">
                <strong class="me-auto text-light">Falló la operación. Por favor, inténtelo de nuevo más tarde.</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
</div>

<script>
    let shouldShowForgotPassword = @(showForgotPassword.ToString().ToLower());
    let shouldShowError = @(showError.ToString().ToLower());
        
    window.onload = (event) => {
        let liveToast1 = document.getElementById('liveToast1');
        let liveToast2 = document.getElementById('liveToast2');

        let toastInstance1 = new bootstrap.Toast(liveToast1);
        let toastInstance2 = new bootstrap.Toast(liveToast2);

        if (shouldShowForgotPassword)
            toastInstance1.show();
        if (shouldShowError)
            toastInstance2.show();
    };
</script>
