@page
@model AicaDocsUI.Pages.Documents.Details

@{
    ViewData["Title"] = "Detalles de Documento";
    var date = Model.DocumentDto.DateOfValidity.ToString("dd/MM/yyyy hh:mm:ss tt");
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-5 mx-auto rounded border p-3">
            <h2 class="text-center">Detalles de Documento</h2>
            <hr/>

            <div class="table-responsive">
                <table class="table table-borderless table-hover">
                    <tbody>
                        <tr>
                            <th scope="row">@Html.Raw("Título")</th>
                            <td>@Html.DisplayFor(model => model.DocumentDto.Title)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.Raw("Código")</th>
                            <td>@Html.DisplayFor(model => model.DocumentDto.Code)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.Raw("Edición")</th>
                            <td>@Html.DisplayFor(model => model.DocumentDto.Edition)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.Raw("Páginas")</th>
                            <td>@Html.DisplayFor(model => model.DocumentDto.Pages)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.Raw("Fecha de Vigencia")</th>
                            <td>@Html.Raw(date)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.Raw("Correo")</th>
                            <td>@Html.DisplayFor(model => model.DocumentDto.UserEmail)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.Raw("Tipo de Documento")</th>
                            <td>@Html.DisplayFor(model => model.Type)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.Raw("Proceso de Documento")</th>
                            <td>@Html.DisplayFor(model => model.Process)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.Raw("Alcance de Documento")</th>
                            <td>@Html.DisplayFor(model => model.Scope)</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-start col">
                <a class="btn btn-outline-primary ms-auto w-25 w-sm-50" asp-page="./Index">Atrás</a>
            </div>
        </div>
    </div>
</div>